* {
  box-sizing: border-box;
}

body {
  background-color: #f3f8ff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

main {
  margin: 0 280px;
}

main a, main a:visited {
  color: midnightblue;
}

main a:hover {
  color: darkred;
}

@media only screen and (max-width: 600px) {
  main {
    margin: 0 30px;
  }

  ul {
    padding: 0;
  }
}


p, ul li{
  font-size: 1.3rem;
  margin-bottom: 20px;
}

summary {
  padding-left: 30px;
  font-size: 1.3rem;
}

summary:hover {
  font-style: italic;
  color: darkred;
  cursor: pointer;
}

summary {
  outline: none;
}

details p {
  padding-left: 60px;
}



.diana {
  border-radius: 50%;
  width: 100px;
  margin-right: 2rem;
  margin: 0 30px;
}

#nav-heading {
  color: #fff;
  font-size: 1rem;
  position: relative;
  padding-right: 1rem;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
  color: #fff;
}

header a {
  text-decoration: none;
}

header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #03051e;
  height: 130px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  color: #fff;
}

@media only screen and (max-width: 1300px){
  main {
    margin: 100px;
  }
}


@media only screen and (max-width: 680px) {
  main {
    margin: 20px;
  }

  header {
    display: block;
    text-align: center;
    height: 200px;
  }
  .diana {
    padding: 10px;
  }

  #nav-heading {
    margin-top: 0;
    padding-top: 30px;
    padding-right: 0;
  }

  nav a {
    margin-bottom: 30px;
  }

}

nav a:hover, footer a:hover{
  color: lightblue;
}


.big {
  height: 2000px;
}


h1 {
  position: absolute;
}

button {
  font-size: 1.2rem;
  color: gray;
  background: #fff;
  border-radius: 4px;
  margin: 20px 0;
  padding: 6px;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  color: gray;
  cursor: pointer;
}

button a {
  text-decoration: none;
}

.button-container {
  text-align: center;
}


/* Work SECTION */

h2 {
  text-align: center;
}

.work {
  margin: 0 30px;
}

.work ul {
  line-height: 1.6rem;
  line-height: 1.8;
  margin-bottom: 20px;
}

.work ul { list-style-type:none;}
.work ul li::before {
    color:green;
    font-size: 1em;
    content: "💻";
    margin-right: 20px;
}



/* Bio Container & Card SECTION & Fun */


.container-bio {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pre-bio {
}

#bio {
  margin-top: 170px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 3rem;
  max-width: 280px;
  margin: 0 10px;
}


img {
  width: 150px;
  border-radius: 50%;
}

.fun {
  display: block;
}


/* Contact SECTION */

.container-contact {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact {
  margin-top: 170px;
}

.container-form textarea{
  width: 290px;
}


footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: #03051e;
  height: 150px;
  z-index: 300;
}

@media only screen and (max-width: 680px) {
  footer {
    height: 100px;
  }
}


footer a {
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  color: #fff;
}

@media only screen and (max-width: 350px) {

  * {
    overflow: hidden;
  }
}
