* {
  box-sizing: border-box;
}

body {
  background-color: #f3f8ff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.diana {
  border-radius: 50%;
  width: 100px;
  margin-right: 2rem;
  margin: 0 30px;
}

header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #03051e;
  height: 130px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  color: #fff;
}

nav a:hover{
  color: lightblue;
}


.big {
  height: 2000px;
}


h1 {
  position: absolute;
}

button {
  font-size: 1.2rem;
  color: #d1d1d1;
  background: #fff;
  border-radius: 4px;
  margin: 20px 0;
  padding: 6px;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  color: gray;
}

.button-container {
  text-align: center;
}
